#box {
    display: flex;
    justify-content: center;
}

#form-container {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}

#box form div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#healthcare-img {
    width: 50%;
    height: auto;
}