#signup-form {
    background-color: gainsboro;
    max-width: 500px;
}

#login-form {
    background-color: gainsboro;
    max-width: 500px;
}

#healthcare-img {
    width: 60%;
    height: auto;
}

#signup-form {
    background-color: gainsboro;
    max-width: 500px;
}

#filter-form {
    background-color: gainsboro;
    max-width: 500px;
}